* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw; 
}

body, html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000814;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .logo a{
    color: #f2f2f7;
    font-size: 60px;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif; 
    text-decoration: none;
}
.navbar .logo img {
    margin-right: 10px; 
    width: 50px; 
    height: auto; 
}

.navbar .nav-links a {
    color: rgba(247, 248, 252, 0.886);
    margin-left: 5px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar .btn {
    color: #050202;
    background-color: #669bab; 
    padding: 10px 20px;
  
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: background-color 0.3s ease; 
}

.navbar .btn:hover {
    background-color: #07052b3a; 
}
.split-container {
    display: flex;
    
    height: auto; 
    margin-top: 80px
}

/* Left side*/
.left-half1 {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    background-color: rgb(236, 233, 233);
    font-family: 'Source Sans Pro', sans-serif;
}
.right-half1 {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgb(236, 233, 233);
    font-family: 'Source Sans Pro', sans-serif;
}
.signup-content {
    text-align: center; 
    max-width: 600px; 
    width: 100%; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.signup-content h2 {
    font-size: 26px; 
    margin-bottom: 5px; 
    margin-top: 10px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}
.login-form {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    justify-content: center; 
    align-items: center;
    margin:0 auto;
    max-width: 100%; 
    box-sizing: border-box; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
/* Style the select dropdown */
select {
    width: 100%;  
    padding: 5px;
    background-color: white; 
    color: black; 
    border: none;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

/* For dropdown options */
select option {
    background-color:#669bab ; /* Background color of options */
    color: white; /* Text color of options */
}
select option:hover {
    background-color: #3b5258; /* Change background on hover */
    color: #fff; /* Optional: change text color on hover */
}
.submit-btn {
    background-color: #669bab;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
.submit-btn:hover {
    background-color: #4c7c8b;
}
.signup-text {
    margin-top: 15px; 
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

.signup-text a {
    color: #0b2040; 
    text-decoration: none; 
    font-family: 'Source Sans Pro', sans-serif;
}

.signup-text a:hover {
    text-decoration: underline; 
}
.signup-form label {
    display: block;
    text-align: left; 
    margin-bottom: 5px; 
    font-weight: bold; 
    font-family: 'Source Sans Pro', sans-serif;
}
.signup-form input, .signup-form select {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-family: 'Source Sans Pro', sans-serif;
}

#signup-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
#signup-image-box img {
    max-width: 85%;
    max-height: 85%;
    object-fit: contain; 
    border: 15px solid #0b2040;
}
@media screen and (max-width: 768px) {
    .split-container {
        flex-direction: column; /* Stack elements vertically */
        height: auto;
    }
    
    .left-half1, .right-half1 {
        flex: none;
        width: 100%; /* Each half takes full width */
        margin: 0;
    }

    .signup-image-box {
        width: 80%; /* Ensure image container takes full width */
        padding: 10px;
        margin-bottom: 10px;
    }

    .signup-content {
        max-width: 90%; /* Adjust content width */
        padding: 20px;
        margin-top: 10px;
    }

    .login-form {
        width: 80%; /* Full width form on small screens */
    }
}

.about-us {
    padding: 15px 30px; 
    background-color: #669bab; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; 
    margin: 0 auto; 
    box-sizing: border-box; 
    font-family: 'Source Sans Pro', sans-serif;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
    /*margin-top: 20px; 
    width: 100%;*/
}

.social-icon {
    font-size: 30px; 
    color: #fcfcfc; 
    margin: 0 10px; 
    text-decoration: none;
}
@media (max-width: 768px) {
    .social-media {
        justify-content: center; /* Center the icons for mobile */
        margin-top: 10px;
    }

    .social-icon {
        font-size: 25px; /* Decrease the size for smaller screens */
    }
}

.social-icon:hover {
    color: #9ee0f5; 
}

.social-icon i {
    transition: color 0.3s ease;
}

.contact-info {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px; 
    font-size: 18px; 
}
.contact-info-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
    gap: 20px;
}
@media (max-width: 768px) {
    .contact-info-container {
        flex-direction: column; /* Stack the email and icons vertically on small screens */
        align-items: center;
        text-align: center;
    }
}
.email-link {
    display: flex;
    align-items: center; 
    color: #fcfcfc;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 20px;
}

.email-link i {
    margin-right: 10px; 
    font-size: 30px;
}

.email-link:hover {
    color: #9ee0f5;
}
.hamburger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 10px;
        background-color: #000814;
        padding: 10px;
        border-radius: 5px;
        width: auto;
        min-width: fit-content;
        text-align: center;
        align-items: center;
    }
    
    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .navbar .btn {
        margin: 15px 0;
    }

    .landing h1 {
        font-size: 32px;
    }

    .about-content {
        max-width: 90%;
    }
}